div.app
    header
        .title
            h1  #{ pageTitle }
    if progress
        progress(value=progress max='6') #{progress}/6
    main
        block content
    footer
        div MIT © CMD Amsterdam, docs and images are CC-BY-4.0.
script(type='text/javascript').
    if ( 'serviceWorker' in navigator ) {
        window.addEventListener ( 'load', function () {
            navigator.serviceWorker.register ( '/sw.js' ).then ( function ( registration ) {
                registration.update ()
            }, function ( err ) {
                console.log ( 'ServiceWorker registration failed: ', err );
            } );
        } );
    }