extends layouts/main-layout.pug
block content
    article
        header
            p= uuid
            h2 Bedankt voor het invullen van de WebDev Minor Enquete over het digitale lesgeven
            h3 ✅
            a(href='/') Terug naar het begin

