extends layouts/main-layout.pug
block content
    article
        header
            p= uuid
            h2 Vraag 1
            progress(value='1' max='5') 1/5
        form(method='POST' action='/answer')
            input(type='hidden' value=uuid name='uuid')
            input(type='hidden' value=1 name='q')
            fieldset
                legend Cijfer
                label(for='grade')  Hoe vond je de communicatie van de docenten en docent-assistenten over slack
                input#grade(required type='range', name='grade' min='1', max='10')
            fieldset
                legend Beschrijving
                label(for='desc')  Zou je hier wat op willen aanmerken?
                textarea#desc(rows='4', wrap='hard', name='desc')
            input(type='submit' value='Volgende vraag')
